In [1]:
import numpy as np

In [2]:
train_cm = np.array([[ 1688,   274,     2,     0,    26,     0,     0],
       [   44, 11986,     1,     1,    34,     0,     0],
       [    6,    23,   883,     3,    10,     0,     0],
       [    6,    24,     3,   532,    30,     0,     0],
       [   32,    92,     5,     1,  1856,     0,     0],
       [   27,    84,    33,    26,    41,     0,     0],
       [   36,   154,    31,     1,    32,     0,     0]])

In [3]:
train_cm

array([[ 1688,   274,     2,     0,    26,     0,     0],
       [   44, 11986,     1,     1,    34,     0,     0],
       [    6,    23,   883,     3,    10,     0,     0],
       [    6,    24,     3,   532,    30,     0,     0],
       [   32,    92,     5,     1,  1856,     0,     0],
       [   27,    84,    33,    26,    41,     0,     0],
       [   36,   154,    31,     1,    32,     0,     0]])

In [4]:
import pandas as pd

In [7]:
labels_loc = '../ISIC2018_Task3_Training_GroundTruth/ISIC2018_Task3_Training_GroundTruth.csv'
Y_df = pd.read_csv(labels_loc)

In [16]:
pd.DataFrame(train_cm,columns = list(Y_df.columns[1:]),index = list(Y_df.columns[1:]))

        MEL     NV  BCC  AKIEC   BKL  DF  VASC
MEL    1688    274    2      0    26   0     0
NV       44  11986    1      1    34   0     0
BCC       6     23  883      3    10   0     0
AKIEC     6     24    3    532    30   0     0
BKL      32     92    5      1  1856   0     0
DF       27     84   33     26    41   0     0
VASC     36    154   31      1    32   0     0

In [17]:
train_acc = np.sum(np.diagonal(train_cm))/np.sum(train_cm)

In [18]:
train_acc

0.9399789205081267

In [19]:
dev_cm = np.array([[ 166,   56,    0,    2,   12,    0,    0],
       [  15, 1303,    7,    0,   19,    0,    0],
       [   6,   13,   72,    4,    8,    0,    0],
       [   8,    2,    5,   30,   14,    0,    0],
       [  11,   34,    3,    1,  163,    0,    0],
       [   3,    7,    2,    4,    3,    0,    0],
       [   4,   18,    3,    0,    5,    0,    0]])

In [28]:
def get_metrics(cm):
    diag = np.diagonal(cm)
    vert_sum = np.sum(cm, axis = 0)
    hor_sum = np.sum(cm, axis = 1)
    accuracy = np.sum(diag)/np.sum(cm)
    precision = np.nanmean(diag/vert_sum)
    recall = np.nanmean(diag/hor_sum)
    f1score = 2*precision*recall/(precision+recall)
    metrics = {'accuracy': accuracy, 'precision':precision, 'recall': recall, 'f1score': f1score}
    return metrics

In [29]:
dev_metrics = get_metrics(dev_cm)

C:\Users\Dwarkanath\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in true_divide

In [30]:
dev_metrics

{'accuracy': 0.8657014478282576,
 'precision': 0.7861237070702428,
 'recall': 0.5213222150200861,
 'f1score': 0.6269073853462925}

In [32]:
train_metrics = get_metrics(train_cm)

C:\Users\Dwarkanath\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in true_divide

In [33]:
train_metrics

{'accuracy': 0.9399789205081267,
 'precision': 0.9292170801667791,
 'recall': 0.6606950056668338,
 'f1score': 0.7722805424485056}

In [34]:
pd.DataFrame(dev_cm,columns = list(Y_df.columns[1:]),index = list(Y_df.columns[1:]))

       MEL    NV  BCC  AKIEC  BKL  DF  VASC
MEL    166    56    0      2   12   0     0
NV      15  1303    7      0   19   0     0
BCC      6    13   72      4    8   0     0
AKIEC    8     2    5     30   14   0     0
BKL     11    34    3      1  163   0     0
DF       3     7    2      4    3   0     0
VASC     4    18    3      0    5   0     0